* {
    padding: 0px;
    margin-left: 0px;
}
.read_title,
.write_title_text {
    display: flex;
    justify-content: left;
    margin-left: 19%;
    margin-top: 5%;
}

.write_contents_text {
    display: flex;
    justify-content: left;
    margin-left: 19%;
}
h3 {
    margin: 0px;
    margin-bottom: 5px;
}
.write_title {
    display: flex;
    margin-left: 19%;
    margin-bottom: 20px;
}
.new_title {
    width: 1010px;
    height: 35px;
}
.userinfo {
    display: inline-block;
    margin-left: 19%;
    min-height: 4vh;
}
.read_contents,
.write_contents {
    width: 1100px;
    margin-left: 19%;
    padding: 5px;
}
textarea {
    width: 1000px;
    height: 500px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
}
input {
    border: 1px solid gray;
    border-radius: 4px;
}
.update_btn,
.cancel_btn,
.save_btn,
.delete_btn {
    width: 40px;
    height: 25px;
    margin-left: 2px;
    background-color: #6799ff;
    border: 1px solid #6799ff;
    border-radius: 4px;
    color: white;
}
.update_btn:hover,
.cancel_btn:hover,
.save_btn:hover,
.delete_btn:hover {
    background-color: #4374d9;
    border: 1px solid #4374d9;
}
button {
    width: 60px;
    height: 25px;
    background-color: #6799ff;
    border: 1px solid #6799ff;
    border-radius: 4px;
}
.div_pw {
    display: flex;
    margin-left: 19.5%;
}
.read_input_pw {
    margin-bottom: 5px;
    width: 250px;
    height: 30px;
}
.div_btn {
    display: flex;
    margin-left: 19.5%;
}
a {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
button:hover {
    background-color: #4374d9;
    border: 1px solid #4374d9;
}
hr {
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
